Sphinx==8.2.3
sphinx-autobuild==2024.10.3
sphinx-autodoc-typehints==3.2.0
sphinx-basic-ng==1.0.0b2
sphinx-click==6.0.0
sphinx-copybutton==0.5.2
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-katex==0.9.11
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
furo==2024.8.6
doc8==2.0.0
flake8==7.0.0
beautifulsoup4==4.13.4
frozendict==2.4.6
networkx==3.5
numpy==2.3.1
pandas==2.3.0
PubChemPy==1.0.4
pymatgen==2025.5.28
pytest==8.4.0
rdkit==2025.3.2
scipy==1.16.0
selfies==2.2.0
tqdm==4.67.1
typing_extensions==4.14.1
coverage==7.9.2
tox==4.28.1
ipython==9.3.0
morfeus-ml==0.7.2
transformers==4.54.1
torch==2.7.1
